<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="accounts/signup">Signup</a> 
        <br>
        <a>Login</a>
        <br>
        <a>logout</a>
    </nav>
    dddd
    Main page hel

    <table>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense.name }}</td>
            <td> <a href = "/update/{{expense.id}}">Edit this item</a></td>
            <td> <a href = "/delete/{{expense.id}}">Delete this item</a></td>
        </tr>
        {% endfor %}

   </table>


  
    <a href="add/">Add a new expense</a>
</body>
</html>